@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates&family=Rubik+Wet+Paint&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    height: 100%;
    background: rgb(255,240,5);
    background: linear-gradient(0deg, rgba(255,240,5,1) 0%, rgba(0,142,255,1) 100%);
}

h1 {
    font-size: 90px;
    text-align: center;
    font-family: 'Rubik Wet Paint', cursive;
    color: red;
}

h3 {
    text-align: center;
    font-size: 50px;
    margin-bottom: 50px;
    font-family: 'Rubik Wet Paint', cursive;
}

.article {
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-size: 30px;
    
}

p {
    font-family: 'Montserrat Alternates', sans-serif;
}

img {
    height: 450px;
    margin: 20px;
    border-radius: 35px;
    box-shadow: 0.4em 0.4em 5px rgba(55, 53, 53, 0.575);
}