@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300&family=Russo+One&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    
    font-family: 'Rubik', sans-serif;
    text-align: center;
    color: #fff;
}

.header {
    background-image: url(/img/bg-image3.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
}

a {
    text-decoration: none;
}

h1 {
    font-size: 90px;
    text-align: center;
    font-family: 'Russo One', sans-serif;
    /* color: red; */
}

h3 {
    text-align: center;
    font-size: 50px;
    margin-bottom: 50px;
    font-family: 'Russo One', sans-serif;
}

.container {
    width: 100%;
    max-width: 1170px;
    margin: 0 auto;
}

.article {
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-size: 30px;
    
}

img {
    height: 400px;
    margin: 20px;
    border-radius: 35px;
    box-shadow: 0.4em 0.4em 5px rgba(55, 53, 53, 0.575);
}

.m-list {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    list-style: none;
    margin-bottom: 30px;
}

.main {
    background-color: rgb(86, 51, 32);
    display: flex;
    justify-content: center;
    padding: 30px 0;
    font-size: 30px;
}

td {
    padding: 5px;
}

table tr, td{
    border: 1px solid #fff;
    
}